@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.cabecalho{
    display: flex;
    justify-content: space-around;
    background-color: rgb(254, 255, 224);
}

.imagem{
    width:10%;
    display: flex;
    justify-content: left;

}
.titulo{
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    color: palevioletred;
    display: flex;
    justify-content: center;
    margin-right: 0px;
    padding: auto;
    text-align: center;
}

.subtitulo {
    font-family: 'Pacifico', cursive;
    color: palevioletred;
    font-size: 25px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 0px;
    padding: auto;
    padding-top: 2px;
}





.lista {
    font-family: 'Pacifico', cursive;
    color: palevioletred;
    display: flex; 
    margin: 25px;
}

ul {
    font-family: 'Pacifico', cursive;
    flex-direction: initial;
    justify-content: center;
    text-align: center;
    padding: 0px 0px 0px 0px;
 
     
}

ol {
    padding: 0 0 0 0;
  

}